body{
    background:#b3cce6;
}
.main-div{
    display:inline
}
.search-component {
    text-align: left;
    padding: 10px;
}
.img-div{
    text-align: left;
    padding: 10px;
}
.content-div {
    text-align: left;
    padding: 10px;
}
.items-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.items-ul > li {
    position: relative;
    padding-bottom: 10px; 
}
.pagination-controls {
    display: inline-block;
}

.pagination-controls a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination-controls a.active {
    background-color: dimgray;
    color: white;
    border-radius: 5px;
}

.pagination-controls a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
